/***************/
/* page layout */
/***************/

[id=menu] {
/*    position:absolute;*/
	position:fixed;
	width:25ex;
}
[id=content] {
	/* *****  EDIT THIS VALUE IF CONTENT OVERLAPS MENU ***** */
   position:absolute;
   /*  position:fixed;*/
  left:33ex;
	padding-right:4ex;
}

/**************/
/* menu style */
/**************/

#menu .submenu {
	padding-top:1em;
	display:block;
}

#menu label {
	display:block;
	font-weight: bold;
	text-align: center;
/*	background-color: rgb(192,192,192);*/
	/*	background-color: #62B1D0; */
	background-color: #476BD6;
	color:  white;

}
#menu a {
	padding:3 .1em;
	display:block;
	text-align: center;
/*	background-color: rgb(235,235,235);
	background-color: rgb(244,241,156); */
	/*background-color: #FFBC73; */

	background-color: #FFAE00;
}
#menu a:visited {
/*	color:rgb(100,50,100);*/
    /* color:#0776A0 */
    color:#3515B0
}

#menu a:link {
    color:#1D0772
}
